@tailwind base;
@tailwind components;
@tailwind utilities;

.instagram {
  background: rgb(65, 65, 208);
  background: linear-gradient(
    90deg,
    rgba(65, 65, 208, 1) 50%,
    rgba(233, 8, 175, 1) 100%
  );
}
